#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: ronaldcastillo
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDkZsc8IXhWkckXzJ2LFdRDsuMjw+Fh0PrEGz9C+UjSGDUBDidrpzDadjB/5Zwwn4AxlKw7tLtyzULaj8MUIxAisI375WLrwFPj7lrYw38h+nl6NLNQLtly83KDNih6JNyTJ6SiJbsTV5+PS+42DxfXSkucyoMwmAtMRV76aBIZp4nb5y6cX83gbEOhF2R4s8pNAJJtlPKLvAJLYcEumPfy0rP7Ua4BI+FqxoU13MOvPlGjfvh0/NDaNN6/luaFsjYDJphDwuR92u204rR4mVC5v0yeDZTbnjQni+F/ydUaYJYGflZqnPFU4JuYHBEvlic7+rqxubnFRVdqPs1uHVog07bqM1to1zkroer3v8fG9w1jiiBx2r13ZjRnNNkP16thJnUZBe901upz/c7GhUf1YaJvAx1NCfft4xUxu7ojO/pLK8C+y/6qriP6NycPZUtPsata8KtsCdR+G6aoKSdPxWE3qollIr9x2lF4hzeJizMZHiEBNfLht0+wo9I/99k= ronaldcastillo@server01
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
